@media (min-width: 768px) {
  label {
    text-align: right;
  }
}

#add-person,
#edit-person {
  display: none;
}
.icon {
  width: 1em;
}
h2 {
  padding: 0.25em 0.9em;
}
#people-list {
  margin-left: 0.9em;
}
#tables-list {
  margin-left: 0.9em;
}
#people-list img {
  margin: 0 0.5em;
}
#date{
  width : 107px;
}

#list-table tr td{
  /*width: 100%;*/
  /*border: 1px solid gray;*/
  padding: 2px;
}

.form-control {
  display: inline;
  margin-bottom: 5px;
}

.menue-selected {
  background-color: lightblue;
  cursor: default;
}

.nav-item {
  cursor: pointer;
}

.nav-item :hover {
  background-color: lightgray;
}

.nav-button {
  width: 90%;
  margin: 5px 0px 5px 10px;
  border-radius: 5px
}

.form-group {
  margin-bottom: 0px;
}