<h2 id="beringungen_list_title">Alle Daten</h2>
<div id="beringungen_list" class="container">
  <table
    id="beringungen_list_table"
    class="table table-striped table-hover"
    data-toggle="table"
    data-pagination="true"
    data-page-size="20"
    data-show-toggle="false"
    data-search="true"
    data-show-columns="true"
    data-show-export="true"
  >
    <thead>
      <tr>
        <th
          data-field="id"
          data-switchable="true"
          data-sortable="true"
        >Id</th>
        <th
          data-field="ringnr"
          data-switchable="true"
          data-sortable="true"
        >Ringnr</th>
        <th
          data-field="beringernr"
        >Beringernr</th>
        <th
          data-field="datum"
        >Datum</th>
        <th
          data-field="uhrzeit"
        >Zeit</th>
        <th
          data-field="vogelart"
        >Art</th>
        <th
          data-field="alter"
        >Alter</th>
        <th
          data-field="bemerkung"
        >Notiz</th>
        <th
          data-field="edit"
        >&nbsp;</th>
        <th
          data-field="delete"
        >&nbsp;</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
