<script>
  function datum_zeit_formatter(value, row) {
    return row.datum.split('-').reverse().join('.')  + ' ' + row.uhrzeit;
  }

  function fundart_formatter(value, row) {
    if (value == 1) {
      return 'Beringung';
    }
    else if (value == 2) {
      return 'Eigenwiederfund';
    }
    else {
      return 'Fremdfund';
    }
  }

  function exportiert_am_formatter(value, row) {	
    if (value != null) {
      let parts = value.toString().split(' ');
      return parts[0].split('-').reverse().join('.') + ' ' + parts[1];
    }
    else {
      return value;
    }
  }

  function concat_farbcodes(value, row) {
    let li, del_li, re, del_re, del_li_re

    del_li = (row.farbring_liob && row.farbring_liun ? '/' : '')
    li = row.farbring_liob + del_li + row.farbring_liun
    li = li + (li ? ' (LI)' : '')
    del_re = (row.farbring_reob && row.farbring_reun ? '/' : '')
    re = row.farbring_reob + del_re + row.farbring_reun
    re = re + (re ? ' (RE)' : '')
    del_li_re = (li && re ? ', ' : '')

    return li + del_li_re + re
  }
  
  //Copied from http://jsfiddle.net/ggywebtech/apseb49f/2/
  //cf. https://forums.asp.net/t/2130579.aspx?export+with+bootstrap+
  $(function () {
	var $table = $('#beringungen_list_table')
	$('#toolbar').find('select').change(function () {
    $table.bootstrapTable('refreshOptions', {
      exportDataType: $(this).val()
    });
  });
});

</script>
<h2 id="beringungen_list_title">Alle Daten</h2>
<div id="beringungen_list" class="container">
<style>
#toolbar {
  margin: 0;
}
</style>

<div id="toolbar" class="select">
  <select class="form-control">
    <option value="">Exportiere akt. Ansicht</option>
    <option value="all">Exportiere alle</option>
    <option value="selected">Exportiere selektierte</option>
  </select>
</div>
  <table
    id="beringungen_list_table"
    class="table table-striped table-hover"
    data-detail-view="false"
    data-id-field="id"
	data-show-export="true"
    data-export-types=['csv','txt','excel','xlsx']
	data-click-to-select="true"
    data-toolbar="#toolbar"
    data-minimum-count-columns="1"
    data-pagination="true"
    data-page-list="[10, 25, 50, 100, 500, ALL]"
    data-page-size="20"
    data-query-params="queryParams"
    data-toggle="table"
    data-sort-name="datum"
	data-sort-order="desc"
	data-sortable="true"	
    data-search="true"
    data-show-columns="true"
    data-show-footer="true"
    data-show-toggle="true"
    data-show-export="false"
    data-show-columns="true"
    data-show-pagination-switch="false"
	data-locale="de-DE"
	data-export-options='{
         "fileName": "bering_export", 
         "ignoreColumn": ["edit","delete","state"]
       }'

  >
    <thead>
      <tr>
	    <th
		  data-field="state"
		  data-checkbox="true"
	    ></th>
        <th
          data-field="id"
          data-switchable="true"
          data-sortable="true"
        >Id</th>
        <th
          data-field="zentrale"
          data-visible="false"
          data-sortable="true"
        >Zentrale</th>
        <th
          data-field="ringnr"
          data-switchable="true"
          data-sortable="true"
        >Ringnr</th>
        <th
          data-field="beringernr"
		  data-sortable="true"
        >Beringernr</th>
        <th
          data-field="datum"
          data-sortable="true"
          data-formatter="datum_zeit_formatter"
        >Datum Zeit</th>
        <th
          data-field="fundart"
          data-visible="true"
          data-switchable="true"
          data-sortable="true"
          data-formatter="fundart_formatter"
        >Fundart</th>
        <th
          data-field="vogelart"
		  data-sortable="true"
        >Art</th>
        <th
          data-field="alter"
		  data-sortable="true"
        >Alter</th>
        <th
          data-field="geschlecht"
		  data-sortable="true"
          data-visible="false"
        >Geschlecht</th>
        <th
          data-field="brutstatus"
		  data-sortable="true"
          data-visible="false"
        >Brutstatus</th>
        <th
          data-field="fluegellaenge"
		  data-sortable="true"
          data-visible="false"
        >Flügellänge</th>
        <th
          data-field="teilfederlaenge"
		  data-sortable="true"
          data-visible="false"
        >Teilfederlänge</th>
        <th
          data-field="schnabellaenge"
		  data-sortable="true"
          data-visible="false"
        >Schnabellänge</th>
        <th
          data-field="schnabel_kopflaenge"
		  data-sortable="true"
          data-visible="false"
        >Schnabel-Kopflänge</th>
        <th
          data-field="lauf"
		  data-sortable="true"
          data-visible="false"
        >Lauf</th>
        <th
          data-field="gewicht"
		  data-sortable="true"
          data-visible="false"
        >Gewicht</th>
        <th
          data-field="skz_1"
		  data-sortable="true"
          data-visible="false"
        >SKZ 1</th>
        <th
          data-field="skz_2"
		  data-sortable="true"
          data-visible="false"
        >SKZ 2</th>
        <th
          data-field="fundursache"
		  data-sortable="true"
          data-visible="false"
        >Fundursache</th>
        <th
          data-field="fundzustand"
		  data-sortable="true"
          data-visible="false"
        >Fundzustand</th>
        <th
          data-field="inschrift"
		  data-sortable="true"
          data-visible="false"
        >Inschrift</th>
        <th
          data-visible="false"
          data-formatter="concat_farbcodes"
        >Farbringe</th>
        <th
          data-field="beringungsort"
		  data-sortable="true"
		  data-visible="false"
        >Beringungsort</th>
        <th
          data-field="koordinaten"
		  data-sortable="true"
		  data-visible="false"
        >Koordinaten</th>
        <th
          data-field="bemerkung"
		  data-sortable="true"
        >Bemerkung</th>
        <th
          data-field="exportiert_am"
          data-sortable="true"
          data-visible="false"
          data-formatter="exportiert_am_formatter"
        >Exportiert am</th>
        <th
          data-field="edit"
		  data-sortable="true"
        ><i class="fa fa-pencil" aria-hidden="true"></i></th>
        <th
          data-field="delete"
		  data-sortable="true"
        ><i class="fa fa-trash" aria-hidden="true"></i></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
