<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <button id="beringungen_search_link" class="nav-link nutzer" style="width: 90%; background-color: green; margin: 0px 10px 10px 10px">Beringung</button>
  </li>
  <li class="nav-item">
    <button id="beringungen_search_link" class="nav-link nutzer" style="width: 90%; background-color: yellow; margin: 0px 10px 10px 10px">Fund</button>
  </li>
  <li class="nav-item">
    <a id="beringungen_list_all_menue_link" class="nav-link nutzer" href="#">Alle Daten</a>
  </li>
  <li class="nav-item">
    <a id="beringungen_list_all_menue_link" class="nav-link nutzer" href="#">Alle Beringungen</a>
  </li>
  <li class="nav-item">
    <a id="beringungen_list_meine_menue_link" class="nav-link tables" href="#">Meine Beringungen</a>
  </li>
  <li class="nav-item">
    <a id="beringungen_list_all_menue_link" class="nav-link nutzer" href="#">Eigene Wiederfunde</a>
  </li>
  <li class="nav-item">
    <a id="beringungen_list_all_menue_link" class="nav-link nutzer" href="#">Alle Wiederfunde</a>
  </li>
  <li class="nav-item">
    <a id="beringungen_list_all_menue_link" class="nav-link nutzer" href="#">Fremdfunde</a>
  </li>
</ul>
