<!-- views.beringungen.search.html -->
<h2>Suche nach Beringung</h2>
<div id="beringungen_search" class="container">
  <form id="beringung_search_form">
    <div class="container-fluid">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="ringnr">Ringnummer</label>
        <input class="col-sm-4 form-control" type="text" id="ringnr" aria-describedby="ringnrHelpInline">
        <div class="form-control-feedback" id="ringnrFB"></div>
        <input id="beringung_search_button" type="button" value="Los">
      </div>
    </div>
  </form>
</div>
