<h2><span id="export_title">Export</span></h2>
<div id="export_container" class="container">
Die Dateien werden in folgendes Verzeichnis exportiert:<br>
<b><span id="export_verzeichnis_span"></span></b> <a id="edit_export_verzeichnis_link" href="#">ändern</a>
<p>
<ul>
  <li><a id="export_beringungen" href="#">Beringungen</a> (<span id="anzahl_art_1"></span>) (B) = Beringungsdatei (BERIHIDD 3)</li>
  <li><a id="export_wiederfunde" href="#">Wiederfunde</a> (<span id="anzahl_art_2"></span>) (W) = Wiederfunddatei (BERIHIDD 3)</li>
  <li><a id="export_fremdfunde" href="#">Fremdfunde</a> (<span id="anzahl_art_3"></span>) (W) = Wiederfunddatei (BERIHIDD 3)</li>
</ul>
</div>
