<div class="container" style="margin-left: 190px">
    <h2>Anmeldung</h2>
  <div style="float: left">
    <img src="../../assets/icons/png/512x512.png" width="150" height="150"/>
  </div>
  <div style="margin-left: 0.5em; float: left; width: 500px">
    <form id="login_form" action="#">
      <input class="col-sm-4 form-control" type="text" value="admin" name="loginname" placeholder="Nutzername"><br>
      <div id="admin_passwort_hint" style="display: none"></div>
      <input class="col-sm-4 form-control" type="password" value="bering" name="passwort" placeholder="Passwort"><br>
      <input class="col-sm-4 form-control" type="password" value="" name="passwort2" placeholder="Wiederholung" style="display: none"><br>
      <button id="login_button" type="button" class="login-button">Anmelden</button>
    </form>
  </div>
</div>
