  <nav id="nav-bar" class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <!--- nav-bar.html -->
  </nav>
  <div class="container-fluid">
    <div class="row">
      <nav id="beringungen_menu" class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
        <!--- views/beringungen/menu.html -->
      </nav>
      <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
        <section id="beringungen_list_section" class="row placeholders">
          <!--- views/beringungen/list.html -->
        </section>
        <section id="beringungen_search_section" class="row placeholders">
          <!--- views/beringungen/search.html -->
        </section>
        <section id="beringungen_edit_section" class="row placeholders">
          <!--- views/beringungen/edit.html -->
        </section>
        <section id="help_section" class="row placeholders">
          <!--- views/help/help.html -->
        </section>
        <section id="settings_edit_section" class="row placeholders">
          <!--- views/settings/edit.html -->
        </section>
        <section id="settings_info_section" class="row placeholders">
          <!--- views/settings/info.html -->
        </section>
        <section id="login" class="row placeholders">
          <!--- login.html -->
        </section>
      </main>
    </div>
  </div>
